{
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "react/jsx-filename-extension": false,
    "react/prop-types": false,
    "jsx-a11y/anchor-is-valid": false,
    "strict": [2, "global"],
    "quotes": 0,
    "comma-dangle": 0,
    "function-paren-newline": 0
  },
  "globals": {
    "document": true,
    "window": true
  },
  "parser": "babel-eslint",
  "env": {
    "browser": true
  }
}
